/*-------------------------------------------------------------------------------------
    Section Title
---------------------------------------------------------------------------------------*/
.text-clip {
    color: #fcff00;
    background: linear-gradient(to right, #b10741 0, #740088 51%, #9C27B0 100%);
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.section-title {
    position: relative;

    h3:not(.min-title) {
        color: $color-7;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 1.43;
        font-family: $body-font;
        margin-bottom: 10px;
        display: inline-block;

        @media #{$sm-layout} {
            margin-bottom: 16px;
        }
    }

    h2 {
        font-size: 48px;
        line-height: 1.25;
        margin: 0;
        margin-bottom: 18px;
        word-wrap: break-word;
        max-width: 100%;
        color: #222222;

        @media #{$lg-layout} {
            font-size: 38px;
        }

        @media #{$md-layout} {
            font-size: 38px;

            br {
                display: none;
            }
        }

        @media #{$sm-layout} {
            font-size: 26px;

            br {
                display: none;
            }
        }

    }

    p {
        margin: 0;
    }

    .circle-shape::after {
        content: '';
        background-image: url(../img/shape/title-shape-1.png);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        margin-top: 6px;
        margin-left: 15px;
        position: absolute;

        @media #{$sm-layout} {
            display: none;
        }
    }

    .line {
        position: relative;
        font-size: 18px;
        color: #CACAE4;
        font-weight: 400;
        margin-left: 30px;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: -30px;
            width: 20px;
            height: 1px;
            background: #CACAE4;

            @media #{$sm-layout} {
                display: none;
            }
        }

        @media #{$sm-layout} {
            margin-left: 0px;
        }

        &-vertical {
            position: relative;
            font-size: 28px;
            color: #000;
            font-weight: 500;
            margin-left: 15px;

            &:before {
                content: '';
                position: absolute;
                top: 4px;
                left: -16px;
                width: 5px;
                height: 64%;
                background: $black;
            }
        }
    }

    .section-title-shadow {
        color: #f0f0f0;
        font-size: 72px;
        font-weight: 900;
        line-height: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        right: 0;
        text-transform: uppercase;
        user-select: none;

        @media #{$sm-layout} {
            font-size: 56px;
        }

        @media #{$md-layout} {
            font-size: 56px;
        }

        @media #{$lg-layout} {
            font-size: 56px;
        }

        @media #{$large-mobile} {
            font-size: 38px;
        }
    }

    &.white-text {
        h3 {
            color: $white;
        }

        h2 {
            color: $white;
        }
    }

    // &--2 {
    //     h2 {
    //         font-size: 48px;
    //         line-height: 1.32;
    //         font-weight: 700;
    //         color: #222222;
    //         font-family: $heading-font;
    //     }
    // }
    &.normal-text {
        & h2 {
            font-weight: 400;
        }
    }

    &.dark-version {
        .line {
            color: #CACAE4;

            &-vertical:before {
                background: $white;
            }
        }

        .section-title-shadow {
            color: #1e1b29;
        }

        h2 {
            color: $white;
        }

        h3 {
            color: #383838;
        }

        p {
            color: #fff;
            opacity: .8;
        }
    }
}